# This file is here because many Platforms as a Service look for
#	requirements.txt in the root directory of a project.

# Bleeding edge Django
django==1.10.8

# Configuration
django-environ==0.4.4

# Forms
django-crispy-forms==1.6.1

# Models
django-model-utils==2.6.1
ipaddress==1.0.18

# Images
Pillow==5.1.0

# For user registration, either via email or social
# Well-built with regular release cycles!
django-allauth==0.31.0

# Password Hasher
#argon2-cffi==16.2.0
bcrypt==3.1.4

# Python-PostgreSQL Database Adapter
psycopg2==2.7.4

# Unicode slugification
unicode-slugify==0.1.3
#django-autoslug==1.9.3
# Not sure about this unicodecsv yet
unicodecsv==0.14.1  

# Time zones support
python-dateutil==2.5.3
Babel==2.3.4
pytz==2018.4

# Redis support
django-redis==4.7.0
redis>=2.10.5

#amqp (latest is 2.02, may not work; if not, use 1.4.9)
# maybe don't need to pin amqp and kombu; just list celery as the dependency
# and celery will take care of the requirements that it needs
amqp==1.4.9
kombu==3.0.37
celery==3.1.24

# Your custom requirements go here
django-session-security==2.5.1


# PRODUCTION REQUIREMENTS 

# WSGI Handler
# ------------------------------------------------
gevent==1.2.2
gunicorn==19.7.1

# Static and Media Storage
# ------------------------------------------------
boto==2.48.0
# Collectfast now requires boto3
# can we make the full jump to boto3 or only
# until we're on python 3 only?
# if we do, we'll need to change the custom storages
# thing we do with django-storages to use boto3 version
boto3
django-storages==1.5.2
Collectfast==0.5.1

# Mailgun Support
# ---------------
django-mailgun==0.9.1

# Celery
pyOpenSSL
#librabbitmq doesnt support ssl as of april 2016
#librabbitmq==1.6.1
#amqplib

# Newrelic agent for performance monitoring
newrelic==3.2.1.93

# Sentry-client for logging
raven==6.9.0



# LOCAL REQUIREMENTS 

coverage==4.3.4
# Sphinx
django-extensions==1.7.5
# Werkzeug==0.10.4
django-test-plus==1.0.18
#fake-factory==0.6.0
# Faker will install python_dateutil and ipaddress
Faker==0.8.5
factory-boy==2.9.2

# django-debug-toolbar that works with Django 1.5+
django-debug-toolbar==1.8

# improved REPL
# ipdb==0.8.1

# testing
selenium==3.12.0
