# This file is here because many Platforms as a Service look for
#	requirements.txt in the root directory of a project.

# Bleeding edge Django
django==3.0.7

# Configuration
django-environ==0.4.5

# Forms
django-crispy-forms==1.10.0
django-formtools==2.2

# Models
django-model-utils==4.1.1
ipaddress==1.0.18

# Images
Pillow==8.0.1

# For user registration, either via email or social
# Well-built with regular release cycles!
django-allauth==0.44.0

# Password Hasher
#argon2-cffi==16.2.0
bcrypt==3.2.0

# Python-PostgreSQL Database Adapter
psycopg2==2.8.5 --no-binary psycopg2

# Unicode slugification
python-slugify==4.0.1
#unicode-slugify==0.1.3
#django-autoslug==1.9.3
# Not sure about this unicodecsv yet
unicodecsv==0.14.1  

# Time zones support
python-dateutil==2.8.1
Babel==2.7.0
pytz==2020.4
django-timezone-field==4.1.1

# Redis support
django-redis==4.12.1
redis==3.5.3  # https://github.com/antirez/redis

#amqp (latest is 2.02, may not work; if not, use 1.4.9)
# maybe don't need to pin amqp and kombu; just list celery as the dependency
# and celery will take care of the requirements that it needs
#amqp==1.4.9
#kombu==3.0.37
celery==4.4.7
django-celery-results==2.0.0
django-celery-beat==2.1.0

# Your custom requirements go here
django-session-security==2.6.6

# Comments
django-contrib-comments==1.9.2
django-threadedcomments==1.2

django-mptt==0.11.0

# file extension and mimetype validation
python-magic==0.4.15

# PRODUCTION REQUIREMENTS 

# WSGI Handler
# ------------------------------------------------
gevent==20.9.0
gunicorn==20.0.4 

# Static and Media Storage
# ------------------------------------------------
boto==2.49.0
# Collectfast now requires boto3
django-storages[boto3]==1.10.1
Collectfast==2.2.0

# Mailgun Support
# ---------------
django-anymail[sendgrid]==8.1  # https://github.com/anymail/

# Celery
pyOpenSSL
#librabbitmq doesnt support ssl as of april 2016
#librabbitmq==1.6.1
#amqplib

# Newrelic agent for performance monitoring
newrelic==5.22.1.152

# Sentry-client for logging
sentry-sdk==0.19.5  # https://github.com/getsentry/sentry-python



# LOCAL REQUIREMENTS 

coverage==5.1
# Sphinx
django-extensions==3.1.0
Werkzeug==1.0.1
django-test-plus==1.4.0
#fake-factory==0.6.0
# Faker will install python_dateutil and ipaddress
Faker==5.0.2
factory-boy==3.1.0

# django-debug-toolbar that works with Django 3.1+
django-debug-toolbar==3.2

# improved REPL
# ipdb==0.11

# testing
selenium==3.141.0
