# This file is here because many Platforms as a Service look for
#	requirements.txt in the root directory of a project.

# Django
django==4.0.10

# Configuration
django-environ==0.11.2

# Forms
django-crispy-forms==1.14.0
django-formtools==2.3

# Models
django-model-utils==4.4.0
ipaddress==1.0.23

# Images
Pillow==10.2.0

# For user registration, either via email or social
django-allauth==0.54.0

# Password Hasher
#argon2-cffi==16.2.0
bcrypt==4.2.0

# Python-PostgreSQL Database Adapter
psycopg2==2.9.9 --no-binary psycopg2

# Unicode slugification
python-slugify==8.0.4
#unicode-slugify==0.1.3
#django-autoslug==1.9.3
# Not sure about this unicodecsv yet
unicodecsv==0.14.1  

# Time zones support
python-dateutil==2.8.2
Babel==2.9.1
pytz==2024.1
django-timezone-field==5.0

# Redis support
django-redis==5.3.0
redis==4.5.5  # https://github.com/antirez/redis

#amqp (latest is 2.02, may not work; if not, use 1.4.9)
# maybe don't need to pin amqp and kombu; just list celery as the dependency
# and celery will take care of the requirements that it needs
#amqp==1.4.9
#kombu==3.0.37
celery==5.3.6
django-celery-results==2.5.1
django-celery-beat==2.5.0

# Your custom requirements go here
django-session-security==2.6.7

# Comments
django-contrib-comments==2.2.0
django-threadedcomments==2.0

django-mptt==0.14.0

# file extension and mimetype validation
python-magic==0.4.27

# PRODUCTION REQUIREMENTS 

# WSGI Handler
# ------------------------------------------------
gevent==22.10.2
gunicorn==20.1.0 

# Static and Media Storage
# ------------------------------------------------
boto==2.49.0
# Collectfast now requires boto3
django-storages[boto3]==1.13.2
Collectfast==2.2.0

# Mailgun Support
# ---------------
django-anymail[sendgrid]==11.1

# Celery
pyOpenSSL
#librabbitmq doesnt support ssl as of april 2016
#librabbitmq==1.6.1
#amqplib

# Newrelic agent for performance monitoring
newrelic==9.7.0

# Sentry-client for logging
sentry-sdk==2.12.0



# LOCAL REQUIREMENTS 

coverage==5.1
# Sphinx
django-extensions==3.2.3
Werkzeug==2.2.3
django-test-plus==2.2.0
#fake-factory==0.6.0
# Faker will install python_dateutil and ipaddress
Faker==5.0.1
factory-boy==3.1.0

# django-debug-toolbar that works with Django 3.1+
django-debug-toolbar==4.3.0

# improved REPL
# ipdb==0.11

# testing
selenium==4.1.0
