# Bleeding edge Django
django==2.0.6

# Configuration
django-environ==0.4.4

# Forms
#django-braces==1.8.1
django-crispy-forms==1.7.2
# django-floppyforms==1.6.0

# Models
django-model-utils==3.1.2
ipaddress==1.0.18

# Images
Pillow==5.1.0

# For user registration, either via email or social
# Well-built with regular release cycles!
django-allauth==0.36.0

# Password Hasher
#argon2-cffi==16.2.0
bcrypt==3.1.4

# Python-PostgreSQL Database Adapter
psycopg2==2.7.4 --no-binary psycopg2

# Unicode slugification
unicode-slugify==0.1.3
#django-autoslug==1.9.3
# Not sure about this unicodecsv yet
unicodecsv==0.14.1  

# Time zones support
python-dateutil==2.5.3
Babel==2.3.4
pytz==2018.4

# Redis support
django-redis==4.9.0
redis>=2.10.5

#amqp (latest is 2.02, may not work; if not, use 1.4.9)
# maybe don't need to pin amqp and kombu; just list celery as the dependency
# and celery will take care of the requirements that it needs
amqp==1.4.9
kombu==3.0.37
celery==3.1.24

# Your custom requirements go here
django-session-security==2.6.0
