# Django
django==5.0.10

# Configuration
django-environ==0.12.0

# Forms
#django-braces==1.8.1
django-crispy-forms==2.5
crispy-bootstrap3==2024.1
# django-floppyforms==1.6.0
django-formtools==2.5.1

# Models
django-model-utils==5.0.0
ipaddress==1.0.23

# Images
Pillow==12.1.0

# For user registration, either via email or social
django-allauth[socialaccount]==65.13.1

# Password Hasher
#argon2-cffi==16.2.0
bcrypt==5.0.0

# Python-PostgreSQL Database Adapter
# locally use 
psycopg2-binary==2.9.10
# in production use without binary
psycopg2==2.9.10

# Unicode slugification
#unicode-slugify==0.1.3
python-slugify==8.0.4
#django-autoslug==1.9.3
# Not sure about this unicodecsv yet
unicodecsv==0.14.1  

# Time zones support
python-dateutil==2.9.0.post0
Babel==2.17.0
pytz==2025.2
django-timezone-field==7.0

# Redis support
django-redis==5.4.0
redis==5.2.1  # https://github.com/antirez/redis

#amqp (latest is 2.02, may not work; if not, use 1.4.9)
# maybe don't need to pin amqp and kombu; just list celery as the dependency
# and celery will take care of the requirements that it needs
#amqp==1.4.9
#kombu==3.0.37
celery==5.3.6
django-celery-results==2.5.1
django-celery-beat==2.6.0
flower==1.2.0  # https://github.com/mher/flower

# Your custom requirements go here
django-session-security==2.6.7

# Comments
django-contrib-comments==2.2.0
django-threadedcomments==2.0

django-mptt==0.14.0

# file extension and mimetype validation
python-magic==0.4.27

django-friendship==1.9.6

django-ipware==5.0.0

# pagination
django-el-pagination==3.3.0

django-social-share==2.3.0
django-hitcount==1.3.5
mixpanel==4.10.1
django-summernote==0.8.20.0
django-user-sessions==2.0.0
affinda==4.25.0
