# Bleeding edge Django
django==3.1.7

# Configuration
django-environ==0.4.5

# Forms
#django-braces==1.8.1
django-crispy-forms==1.11.1
# django-floppyforms==1.6.0
django-formtools==2.2

# Models
django-model-utils==4.1.1
ipaddress==1.0.18

# Images
Pillow==8.2.0

# For user registration, either via email or social
# Well-built with regular release cycles!
django-allauth==0.44.0

# Password Hasher
#argon2-cffi==16.2.0
bcrypt==3.2.0

# Python-PostgreSQL Database Adapter
# locally use 
psycopg2-binary==2.8.6
# in production use without binary
psycopg2==2.8.6

# Unicode slugification
#unicode-slugify==0.1.3
python-slugify==4.0.1
#django-autoslug==1.9.3
# Not sure about this unicodecsv yet
unicodecsv==0.14.1  

# Time zones support
python-dateutil==2.8.1
Babel==2.7.0
pytz==2021.1
django-timezone-field==4.1.1

# Redis support
django-redis==4.12.1
redis==3.5.3  # https://github.com/antirez/redis

#amqp (latest is 2.02, may not work; if not, use 1.4.9)
# maybe don't need to pin amqp and kombu; just list celery as the dependency
# and celery will take care of the requirements that it needs
#amqp==1.4.9
#kombu==3.0.37
celery==4.4.7
django-celery-results==2.0.1
django-celery-beat==2.2.0

# Your custom requirements go here
django-session-security==2.6.6

# Comments
django-contrib-comments==2.1.0
django-threadedcomments==1.2

django-mptt==0.12.0

# file extension and mimetype validation
python-magic==0.4.15

django-friendship==1.9.1

# pagination
django-el-pagination==3.3.0
