# Local development dependencies go here
-r base_requirements.txt
coverage==5.1
# Sphinx
django-extensions==3.1.0
Werkzeug==1.0.1
pyOpenSSL

django-test-plus==1.4.0
#fake-factory==0.6.0
# Faker will install python_dateutil and ipaddress
Faker==5.0.2
factory-boy==3.1.0

# django-debug-toolbar that works with Django 2.2+
django-debug-toolbar==3.2

# improved REPL
# ipdb==0.11

# testing
selenium==3.141.0
