# Pro-tip: Try not to put anything here. There should be no dependency in
#	production that isn't in development.
-r base_requirements.txt



# WSGI Handler
# ------------------------------------------------
gevent==20.6.2
gunicorn==20.0.4 

# Static and Media Storage
# ------------------------------------------------
boto==2.49.0
# Collectfast now requires boto3
# can we make the full jump to boto3 or only
# until we're on python 3 only?
# if we do, we'll need to change the custom storages
# thing we do with django-storages to use boto3 version
django-storages[boto3]==1.9.1
Collectfast==2.2.0

# Mailgun Support
# ---------------
django-anymail[sendgrid]==7.2.1  # https://github.com/anymail/

# Celery
pyOpenSSL
#librabbitmq doesnt support ssl as of april 2016
#librabbitmq==1.6.1
#amqplib

# Newrelic agent for performance monitoring
newrelic==5.14.0.142

# Sentry-client for logging
#raven==6.10.0
sentry-sdk==0.17.5  # https://github.com/getsentry/sentry-python
