# Pro-tip: Try not to put anything here. There should be no dependency in
#	production that isn't in development.
-r base_requirements.txt



# WSGI Handler
# ------------------------------------------------
gevent==1.4.0
gunicorn==19.9.0 

# Static and Media Storage
# ------------------------------------------------
boto==2.49.0
# Collectfast now requires boto3
# can we make the full jump to boto3 or only
# until we're on python 3 only?
# if we do, we'll need to change the custom storages
# thing we do with django-storages to use boto3 version
django-storages[boto3]==1.7.2
Collectfast==0.6.2

# Mailgun Support
# ---------------
django-anymail[mailgun]==6.0.1  # https://github.com/anymail/

# Celery
pyOpenSSL
#librabbitmq doesnt support ssl as of april 2016
#librabbitmq==1.6.1
#amqplib

# Newrelic agent for performance monitoring
newrelic==4.20.0.120 

# Sentry-client for logging
raven==6.10.0
