# Pro-tip: Try not to put anything here. There should be no dependency in
#	production that isn't in development.
-r base_requirements.txt



# WSGI Handler
# ------------------------------------------------
gevent==1.2.2
gunicorn==19.8.1

# Static and Media Storage
# ------------------------------------------------
boto==2.48.0
# Collectfast now requires boto3
# can we make the full jump to boto3 or only
# until we're on python 3 only?
# if we do, we'll need to change the custom storages
# thing we do with django-storages to use boto3 version
boto3
django-storages==1.5.2
Collectfast==0.5.1

# Mailgun Support
# ---------------
django-mailgun==0.9.1

# Celery
pyOpenSSL
#librabbitmq doesnt support ssl as of april 2016
#librabbitmq==1.6.1
#amqplib

# Newrelic agent for performance monitoring
newrelic==3.2.1.93

# Sentry-client for logging
raven==6.9.0
